<div class="container">
	<h1><%= @survey.title %></h1>
	<% if @survey.photo %>
		<img src='<%= @survey.photo.file %>'><br><br>
	<% else %>
	<div class='add_photo'>
		<p>Optional: Attach a photo for the survey</p>
    <%= erb :_add_photo %>
  </div>
  <% end %>
  <h5>Share this Survey with others:</h5> <a href='/survey/<%=@survey.id%>/take'>/survey/<%=@survey.id%>/take</a>
  <div class="add_question">
	   <a href='/survey/<%= @survey.id %>/new'>Add Question</a>
  </div>
	<% if !@survey.questions.empty? %>
		<h3>Questions:</h3>
	<% end %>
	<% @survey.questions.each do |question| %>
		<div> 
			<div class="question-content">
				<h5><%= question.question %></h5>
				<% question.choices.each do |choice| %>
					<li><%= choice.content %> -- <%= choice_percentage(choice)%>%</li>
				<% end %>
			</div>
			<canvas id="question-chart-<%= question.id %>" class="question-chart" data-user-choices='<%= question.to_json %>'></canvas>
		</div>
	<% end %>
  <br>
  Number of surveys submitted: <%= completed_survey_count(@survey.id) %>
  <p>[Todo: stats]</p>
</div>